// Specific CSS for your home-page
body {
  background-image: url('https://img.freepik.com/free-photo/photorealistic-galaxy-background_23-2151064387.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
