.card-container {
  width: 400px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 0.5px grey;
  border-radius: 4px;
  box-shadow: 0 4px 8px 3px rgba(0, 0, 0, 0.3);
  transition: ease-in 0.3s;
  background-color: rgba(21, 47, 66, 0.4);
}

.card-container:hover {
  border: solid 0.5px #4479a24d;
  box-shadow: 0 4px 8px 3px #4479a24d;
  transition: ease-out 0.3s;
  cursor: pointer;
}

.card-movie-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 0px;
  color: white;
}

.notification {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  background: white;
  padding: 8px 16px;
  border: 1px solid rgb(235,235,235);
}

.notification .notification-content {
  flex-grow: 1;
  padding: 0 24px;
}

.notification p {
  margin: 0;
  line-height: 1.4;
}

.notification small {
  color: #999999;
  font-weight: bold;
}
.notification .notification-actions {
  opacity: 0;
  display: flex;
  transition: ease .3s;
}

.notification:hover .notification-actions {
  opacity: 1;
}

.notification .notification-actions a {
  color: #999999;
  margin-left: 16px;
  font-size: 14px;
}

.notification .notification-actions a:hover {
  color: #555555;
}
